.bg-img-style{
    background-image: url('../../public/istockphoto-1450058572-612x612.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-img-portfolio{
    background-image: url('../../public/female-portfolio-img.png');
    background-repeat: no-repeat;
}