
.fade-in {
  opacity: 0;
  transform: translateY(10px);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.animation-delay-fade-in-1s {
  animation: fadeIn 1s ease forwards;
}

.animation-delay-fade-in-2s {
  animation: fadeIn 2s ease forwards;
}

.animation-delay-fade-in-3s {
  animation: fadeIn 3s ease forwards;
}

.animation-delay-fade-in-4s {
  animation: fadeIn 4s ease forwards;
}

.animation-delay-fade-in-5s {
  animation: fadeIn 5s ease forwards;
}

.animation-delay-fade-in-6s {
  animation: fadeIn 6s ease forwards;
}

.animation-delay-fade-in-7s {
  animation: fadeIn 7s ease forwards;
}

.animation-delay-fade-in-8s {
  animation: fadeIn 8s ease forwards;
}

.animation-delay-fade-in-9s {
  animation: fadeIn 9s ease forwards;
}

.animation-delay-fade-in-10s {
  animation: fadeIn 10s ease forwards;
}