/* Font color utility classes for standard CSS color keywords
	Usage: add `font-color-val-<colorname>` to an element.
	Example: <p class="font-color-val-red">Red text</p>
*/

.font-color-val-aliceblue { color: aliceblue; }
.font-color-val-antiquewhite { color: antiquewhite; }
.font-color-val-aqua { color: aqua; }
.font-color-val-aquamarine { color: aquamarine; }
.font-color-val-azure { color: azure; }
.font-color-val-beige { color: beige; }
.font-color-val-bisque { color: bisque; }
.font-color-val-black { color: black; }
.font-color-val-blanchedalmond { color: blanchedalmond; }
.font-color-val-blue { color: blue; }
.font-color-val-blueviolet { color: blueviolet; }
.font-color-val-brown { color: brown; }
.font-color-val-burlywood { color: burlywood; }
.font-color-val-cadetblue { color: cadetblue; }
.font-color-val-chartreuse { color: chartreuse; }
.font-color-val-chocolate { color: chocolate; }
.font-color-val-coral { color: coral; }
.font-color-val-cornflowerblue { color: cornflowerblue; }
.font-color-val-cornsilk { color: cornsilk; }
.font-color-val-crimson { color: crimson; }
.font-color-val-cyan { color: cyan; }
.font-color-val-darkblue { color: darkblue; }
.font-color-val-darkcyan { color: darkcyan; }
.font-color-val-darkgoldenrod { color: darkgoldenrod; }
.font-color-val-darkgray { color: darkgray; }
.font-color-val-darkgreen { color: darkgreen; }
.font-color-val-darkgrey { color: darkgrey; }
.font-color-val-darkkhaki { color: darkkhaki; }
.font-color-val-darkmagenta { color: darkmagenta; }
.font-color-val-darkolivegreen { color: darkolivegreen; }
.font-color-val-darkorange { color: darkorange; }
.font-color-val-darkorchid { color: darkorchid; }
.font-color-val-darkred { color: darkred; }
.font-color-val-darksalmon { color: darksalmon; }
.font-color-val-darkseagreen { color: darkseagreen; }
.font-color-val-darkslateblue { color: darkslateblue; }
.font-color-val-darkslategray { color: darkslategray; }
.font-color-val-darkslategrey { color: darkslategrey; }
.font-color-val-darkturquoise { color: darkturquoise; }
.font-color-val-darkviolet { color: darkviolet; }
.font-color-val-deeppink { color: deeppink; }
.font-color-val-deepskyblue { color: deepskyblue; }
.font-color-val-dimgray { color: dimgray; }
.font-color-val-dimgrey { color: dimgrey; }
.font-color-val-dodgerblue { color: dodgerblue; }
.font-color-val-firebrick { color: firebrick; }
.font-color-val-floralwhite { color: floralwhite; }
.font-color-val-forestgreen { color: forestgreen; }
.font-color-val-fuchsia { color: fuchsia; }
.font-color-val-gainsboro { color: gainsboro; }
.font-color-val-ghostwhite { color: ghostwhite; }
.font-color-val-gold { color: gold; }
.font-color-val-goldenrod { color: goldenrod; }
.font-color-val-gray { color: gray; }
.font-color-val-green { color: green; }
.font-color-val-greenyellow { color: greenyellow; }
.font-color-val-grey { color: grey; }
.font-color-val-honeydew { color: honeydew; }
.font-color-val-hotpink { color: hotpink; }
.font-color-val-indianred { color: indianred; }
.font-color-val-indigo { color: indigo; }
.font-color-val-ivory { color: ivory; }
.font-color-val-khaki { color: khaki; }
.font-color-val-lavender { color: lavender; }
.font-color-val-lavenderblush { color: lavenderblush; }
.font-color-val-lawngreen { color: lawngreen; }
.font-color-val-lemonchiffon { color: lemonchiffon; }
.font-color-val-lightblue { color: lightblue; }
.font-color-val-lightcoral { color: lightcoral; }
.font-color-val-lightcyan { color: lightcyan; }
.font-color-val-lightgoldenrodyellow { color: lightgoldenrodyellow; }
.font-color-val-lightgray { color: lightgray; }
.font-color-val-lightgreen { color: lightgreen; }
.font-color-val-lightgrey { color: lightgrey; }
.font-color-val-lightpink { color: lightpink; }
.font-color-val-lightsalmon { color: lightsalmon; }
.font-color-val-lightseagreen { color: lightseagreen; }
.font-color-val-lightskyblue { color: lightskyblue; }
.font-color-val-lightslategray { color: lightslategray; }
.font-color-val-lightslategrey { color: lightslategrey; }
.font-color-val-lightsteelblue { color: lightsteelblue; }
.font-color-val-lightyellow { color: lightyellow; }
.font-color-val-lime { color: lime; }
.font-color-val-limegreen { color: limegreen; }
.font-color-val-linen { color: linen; }
.font-color-val-magenta { color: magenta; }
.font-color-val-maroon { color: maroon; }
.font-color-val-mediumaquamarine { color: mediumaquamarine; }
.font-color-val-mediumblue { color: mediumblue; }
.font-color-val-mediumorchid { color: mediumorchid; }
.font-color-val-mediumpurple { color: mediumpurple; }
.font-color-val-mediumseagreen { color: mediumseagreen; }
.font-color-val-mediumslateblue { color: mediumslateblue; }
.font-color-val-mediumspringgreen { color: mediumspringgreen; }
.font-color-val-mediumturquoise { color: mediumturquoise; }
.font-color-val-mediumvioletred { color: mediumvioletred; }
.font-color-val-midnightblue { color: midnightblue; }
.font-color-val-mintcream { color: mintcream; }
.font-color-val-mistyrose { color: mistyrose; }
.font-color-val-moccasin { color: moccasin; }
.font-color-val-navajowhite { color: navajowhite; }
.font-color-val-navy { color: navy; }
.font-color-val-oldlace { color: oldlace; }
.font-color-val-olive { color: olive; }
.font-color-val-olivedrab { color: olivedrab; }
.font-color-val-orange { color: orange; }
.font-color-val-orangered { color: orangered; }
.font-color-val-orchid { color: orchid; }
.font-color-val-palegoldenrod { color: palegoldenrod; }
.font-color-val-palegreen { color: palegreen; }
.font-color-val-paleturquoise { color: paleturquoise; }
.font-color-val-palevioletred { color: palevioletred; }
.font-color-val-papayawhip { color: papayawhip; }
.font-color-val-peachpuff { color: peachpuff; }
.font-color-val-peru { color: peru; }
.font-color-val-pink { color: pink; }
.font-color-val-plum { color: plum; }
.font-color-val-powderblue { color: powderblue; }
.font-color-val-purple { color: purple; }
.font-color-val-rebeccapurple { color: rebeccapurple; }
.font-color-val-red { color: red; }
.font-color-val-rosybrown { color: rosybrown; }
.font-color-val-royalblue { color: royalblue; }
.font-color-val-saddlebrown { color: saddlebrown; }
.font-color-val-salmon { color: salmon; }
.font-color-val-sandybrown { color: sandybrown; }
.font-color-val-seagreen { color: seagreen; }
.font-color-val-seashell { color: seashell; }
.font-color-val-sienna { color: sienna; }
.font-color-val-silver { color: silver; }
.font-color-val-skyblue { color: skyblue; }
.font-color-val-slateblue { color: slateblue; }
.font-color-val-slategray { color: slategray; }
.font-color-val-slategrey { color: slategrey; }
.font-color-val-snow { color: snow; }
.font-color-val-springgreen { color: springgreen; }
.font-color-val-steelblue { color: steelblue; }
.font-color-val-tan { color: tan; }
.font-color-val-teal { color: teal; }
.font-color-val-thistle { color: thistle; }
.font-color-val-tomato { color: tomato; }
.font-color-val-turquoise { color: turquoise; }
.font-color-val-violet { color: violet; }
.font-color-val-wheat { color: wheat; }
.font-color-val-white { color: white; }
.font-color-val-whitesmoke { color: whitesmoke; }
.font-color-val-yellow { color: yellow; }
.font-color-val-yellowgreen { color: yellowgreen; }
