
.circle-list-style {list-style-type: circle;}
.disc-list-style {list-style-type: disc;}
.square-list-style {list-style-type: square;}

.upper-roman-list-style {list-style-type: upper-roman;}
.lower-roman-list-style {list-style-type: lower-roman;}
.lower-alpha-list-style {list-style-type: lower-alpha;}
.decimal-list-style {list-style-type: decimal;}